.Document-Viewer .Annotation-Label {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 3px rgba(14, 15, 15, 0.3);
  padding: 0 4px 0 8px;
  width: 180px;
}

.Document-Viewer .Annotation-Label__Dot {
  flex: 0 0 8px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

.Document-Viewer .Annotation-Label__Text {
  flex: 1 1 auto;
  cursor: pointer;
  font-size: 12px;
  padding: 1px 4px 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Document-Viewer .Annotation-Label__Text:hover {
  color: #12748c;
}

.Document-Viewer .Annotation-Label__Delete {
  cursor: pointer;
  flex: 0 0 14px;
  padding: 3px;
  margin: 0;
  color: rgb(14, 15, 15);
}

.Document-Viewer .Annotation-Label__Delete:hover {
  color: #dd1c1a;
}

.Document-Viewer .Annotation-Label__Delete > svg {
  font-size: 14px;
}
