.Toolbar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #55585b;
  height: 40px;
  color: white;
  padding: 0 12px;
}

.Toolbar__Pages {
  display: flex;
  align-items: center;
}

.Toolbar__Input {
  width: 60px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
  color: white;
  background: #2d3335;
  font-size: 14px;
  font-weight: 600;
}

.Toolbar__Pages span {
  margin: 0 12px;
  font-weight: 600;
}

.Toolbar__Modes {
  width: 200px;
}

.Toolbar__Zoom {
  width: 150px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}