.Topics {
  position: fixed;
  top: 90px;
  right: 10px;
  width: 200px;
  background: white;
  border: solid 1px #E5E9EC;
  box-shadow: 0 1px 3px rgba(14, 15, 15, 0.3);
}

.Topics__Header {
  background: #E5E9EC;
  border-bottom: solid 1px #E5E9EC; 
  padding: 12px 6px;
}

.Topics__Title {
  margin: 0;
}

.Topics__Body {
  overflow: auto;
  max-height: 500px;
  padding: 0;
  margin: 0;
}

.Topics__Topic {
  cursor: pointer;
  padding: 6px 12px;
  margin: 3px 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Topics__Topic:hover {
  background: #F5F7F9;
}