.Document-Viewer .Annotations {
  position: relative;
  flex: 0 0 auto;
}

.Document-Viewer .Annotations-Group__More {
  background: #868b90;
  box-shadow: 0 1px 3px rgba(14, 15, 15, 0.3);
  cursor: pointer;
  width: 100%;
  border: 0;
  color: white;
  font-weight: 700;
}