.Document-Viewer .Select {
  position: relative;
}

.Document-Viewer .Select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #2d3335;
  border: none;
  border-radius: 0;
  padding: 6px 32px 6px 12px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
}

.Document-Viewer .Select svg {
  position: absolute;
  right: 3px;
  top: 3px;
  pointer-events: none;
}