.Navbar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  background: #2d3335;
  color: white;
  padding: 0 12px;
  height: 40px;
}

.Navbar__Title {
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.NavBar__Actions {
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  padding-left: 10px;
}
