.Document-Viewer .IconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: white;
  margin: 6px;
  padding: 0;
}
